<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>shopping-cart</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>EmptyCartRedirectFilter</filter-name>
		<filter-class>com.birdcomics.Utils.EmptyCartRedirectFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>EmptyCartRedirectFilter</filter-name>
		<url-pattern>/authorize_payment</url-pattern>
		<url-pattern>/review_payment</url-pattern>
		<url-pattern>/riepilogoOrdine.jsp</url-pattern>
		<url-pattern>/confermaIndirizzo.jsp</url-pattern>
	</filter-mapping>


</web-app>

